body {
  background: rgb(19, 18, 18);
  scroll-behavior: smooth;
  
  background-size: cover;
}

.maincontainer {
  height: 100%;
  width: 100%;
}

.welcome {
  position: relative;
  justify-content: center;
  display: flex;
  width: 70vw;
  height: 70vh;
  align-items: center;
  margin-left: -3vw;
  margin-top: 12vh;
  margin-right: 100vw;
  overflow: hidden;
  color: white;
  
}

/* <======= logo========> */
 #logo{ 
  position: fixed;
  display: flex;
  opacity: .8;
  background-image: url(./logaA.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8vw;
  height: 15vh;
  margin-top:  0px;
  /* margin-left: vw; */
  overflow: hidden;

  /* padding: 20px; */
  /* margin: 20px; */
  /* border: 2px solid white; */
 }
  /* position: relative;
 
 
} */ 

/* .logo {
  color: hwb(36 93% 5%);
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  width: calc(100% - 60px);
  padding-left: 35px;
  padding-top: 30px; */
/* } */
/* <============= logo ===============> */
ul {
 position: relative;
 /* margin-top:140vh; */
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background: transparent;
  /* border: 2px solid white; */
}
li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li {
  float: left;
}
li :hover {
  color: rgb(247, 125, 2);
}
.nav ul {
  /* position: relative; */
  justify-content: right;
  align-items: right;
  overflow: hidden;
  margin-left: 63.6%;
  padding-right: 1px;
  font-size: 22px;
  padding-bottom: -10vh;
  margin-top: 70px;
}
.nav {
  margin-top: -29px;
}
/* 
#logo b {
  font-size: 55px;
  font-weight: 800;
  color: rgb(247, 125, 2);
} */
/* < =============== nav bar ==============> */
.container {
  height: 100vh;
  width: 100%;
  /* border: 2px solid white; */
}
.topline {
  padding: 18px;

  border: 2px solid transparent;
  margin-top: -20vh;
}
.topline h1 {
  color: rgb(247, 125, 2);
  text-transform: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  margin-left: 8.5vw;
  font-size: 9vh;
  margin-bottom: 10px;
  margin-top: -16px;
  width: 8vw;
}

#underscore::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  left: 32vw;
  background-color: rgb(247, 125, 2);
}
.topline h5 {
  font-size: 4vh;
  margin-top: 1px;
  /* padding-top: px; */
  /* width: 10vw; */
  animation: typing;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing;
  animation-duration: 2.5s;
  /* font-family: monospace; */
  /* font-size: 2em; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
.topline p {
  margin-top: -30px;
  font-size: 22px;
  padding-left: 20px;
}
.details {
  /*This part is important for centering*/
  display: inline-block;
}

p {
  width: 10vw;

  white-space: nowrap;
  overflow: hidden;

  animation: typing;
  animation-duration: 2s;
  /* font-family: monospace; */
  font-size: 2em;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* <==========qualifications ==========> */

.skill {
  width: 20vw;
  height: 20vh;
  border: 20 px solid red;
}
#qualifications {
  height: 100vh;
  width: 100%;
  /* border: 2px solid rgb(255, 255, 255); */

}
.contaniner_2  h1{
  color: rgb(255, 255, 255);
  margin-left: 8vw;
  font-weight: 800 bold;
  font-size: 52px;
  padding-top: 0px;
  /* border: #fff solid; */
  width: 20vw;
  
  padding-top: 2vh;
  
}


 
  

#skill h2 {
  height: 5vh;
  width: 5vw;
  padding: 5px;
color: #fff;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: -70px;
  margin-left: 20px;
}

#skill {
  display: flex;
  margin: 20px;
 
  position: absolute;
  background: #fff;
  width: 40%;
  height: 25vh;

  border-radius: 20px;
  color: rgb(247, 125, 2);
  background: transparent;
  border: 2px solid rgb(247, 125, 2);
  margin-top: 2vh;
  padding-top: 80px;
}
#skill li {
  padding: 5px;
  font-size: 18px;
  display: flex;
  position: relative;
}
#skill:hover {
  background-color: #131212;
  text-transform: uppercase;
  transform: translateY(10px);
  color: #fff;
  white-space: nowrap;
  animation-duration: 1s;
  transition-duration: 2s;
  overflow: hidden;
}


#education h2 {
  height: 5vh;
  width: 5vw;
  padding: 5px;
  color: white;

  font-weight: 700;
  font-size: 40px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: -70px;
  margin-left: 20px;
}

#education {
  display: flex;
  position: absolute;
  background: #fff;
  margin-left: 20px;
  width: 40%;
  height: 25vh;

  border-radius: 20px;
  color: rgb(247, 125, 2);
  background: transparent;
  border: 2px solid rgb(247, 125, 2);
  margin-top: 5vh;
  padding-top: 100px;
  margin-top: 43vh;
}
#education li {
  padding: 5px;
  font-size: 18px;
  display: flex;
  position: relative;
}
#education:hover {
  background-color: #131212;
  text-transform: uppercase;
  transform: translateY(10px);
  color: #fff;
  white-space: nowrap;
  animation-duration: 1s;
  transition-duration: 2s;
  overflow: hidden;
}
.why{
  margin-left: 49%;
  margin-top: -50px;
  
 width: 48vw;
  
}
#why h1{
  color: rgb(255, 255, 255);
  font-size: 52px;
  width: 45vw;
  margin-left: 25px;
  margin-top: -13.3vh;
  
  
}
#mark{
  color: rgb(247, 125, 2);
  font-size: 7vh;
  font-weight: 900;
  font-style: bold;
}
.convence p{
  width: 28vw;
  color: rgb(87, 86, 81);
  padding-left: 15px;
  font-size: 2px bold;
  

/* border: 2px solid rgb(247, 125, 2); */
 
}
.convence{
  position:absolute;
background-image: url(./1.jpg);
background-size: cover;
border-radius: 20px;
padding-right: 10px;

}
.convence:hover{
  background-image: url(./2.jpg);
  background-size: cover;
  transition-duration: 2s;
  
}
.convence p:hover{
  color: #fff6f6;
  transition-duration: 1s;
}
/* <=======scroll more ==========> */
#s_down {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 15vw;
  padding: 20px;
  margin-left: 20%;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 200;
  border-bottom: 4px solid #fff;
  margin-top: 4vh;
 


  background: transparent;
   color: rgb(247, 125, 2);
   font-size: 18px;
   text-transform: uppercase;
   padding:2vh;
   margin-left: 20vw;
   border:rgb(247, 125, 2);
   border: 1% solid white;
   border-bottom: 4px solid white;
}
#s_down:hover {
  color: rgb(255, 255, 255);
  transform: translateY(10px);
  white-space: nowrap;
  overflow: hidden;
  transition-duration: 1s;
border-color:rgb(247, 125, 2) ;
}

/* <=========container 3===============> */

.container_3{
  position: relative;
  display:flex;
  color: white;
  height: 100vh;
  width: 98vw;
  justify-content: center;
  align-items: center;
  margin-left: -8vw;
/* background-image: url(./9a.jpg);
background-size: cover; */

  /* border: 2px solid white; */
  margin-top: 95vh;
}
.container_3 h1{
  position: relative;
  /* padding-bottom: 50vh; */
  margin-top: -40vh;
  margin-right: 100px;
  padding-bottom: 20vh;
  /* border-bottom: 4px solid rgb(250, 249, 249); */
}
.container_3 b{
  color: rgb(247, 125, 2);
  font-size: 4vw;
  font-weight: 900 bold;
  border-radius: 20vw;
}

.career ul{
  display: inline-flex;
  align-self: center;
  justify-content: center;
  letter-spacing: .2em;
  font-weight: 900 bold;
  padding: 2vw;
  margin-left: -25vw;
  margin-right: -5vw;
  width: 80vw;
  /* border: 2px solid blue; */
  background: transparent;
  background-image: url(./7a.gif);
  background-repeat: no-repeat;
  background-size:85vw 35vh;
  border-radius: 30px;
  /* background-size: cover; */
  margin-top: 20vh;
  
 
  /* border: #fb1616 2px solid; */
}
.container_3 h1{
  width: 16.6vw;
  border-bottom: 4px solid rgb(247, 125, 2);
  padding-bottom: 0;
  

}

.career li{
  border-left: 4px solid rgb(247, 125, 2);
  padding-right: 55px;
  padding-left: 2vw;
  /* background-image: url(./carrer.gif); */
  background-size: cover;
  /* background: transparent; */
}
.career h3{
  font-size: 40px;
 /* border: #fff 2px solid; */
 color: rgb(247, 125, 2);
 margin-top: -1vh;
 padding-top: 3vh;

  /* padding-bottom: -2px; */
}
#inten{
  position: relative;
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  margin-top: -4.5vh;
  font-weight: bold;
  

}
#date{
  margin-left: 1.3vw;
  margin-bottom: -10vh;
  font-weight: bold;
  font-size: 3vh;
  /* color: rgb(247, 125, 2); */

}
#download{
  position: absolute;
  /* border:  4px solid rgb(247, 125, 2); */
  width: 13vw;
  height: 5vh;
  margin-top: -11.5vh;
  border-bottom:4px solid rgb(247, 125, 2);
  background: transparent;
  color: #fff;


  margin-left: 75vw;

  
  background: transparent;
   color: rgb(247, 125, 2);
   font-size: 18px;
   text-transform: uppercase;
   padding-bottom:2vh;
   letter-spacing: 2px;
   /* margin-left: 20vw; */
   border:rgb(247, 125, 2);
   border: 1% solid white;
   border-bottom: 4px solid white;
}

#download:hover{
  color: rgb(255, 255, 255);
  transform: translateY(10px);
  white-space: nowrap;
  overflow: hidden;
  transition-duration: 1s;
border-color:rgb(247, 125, 2) ;
text-decoration: solid;
font-weight: 900px bold;
}


/* <============== container_4 =============> */
.container_4{
  
  height: 100vh;
  width: 90vw;
  position: relative;
  margin-top: 5vh;
  margin-left: 4vw;
  



}
.container_4 h3{
  position: absolute;
  color: rgb(247, 125, 2);
  font-size: 30px;
  text-transform: uppercase;
  border-spacing: .2em;
  /* border: 2px solid white; */
  width: 20vw;
  overflow: hidden;
  margin-top:5vh;
  font-weight: 900 bold;
  padding-left: 2vw;
}
.about_left h2{
  color: #fff;
  /* border: 2px solid white; */
  width: 20vw;
  height: 20vh;
  padding: 4vw;
  font-size:50px ;
  margin-top: 2vw;
}
.about_right{
  color: #000000;
  font-size: 12px;
  width: 40vw;
  height: 45vh;
  margin-left: 50vw;
  margin-top: -45vh;
  /* border: 2px solid white; */
}
.about{
  /* border: 2px solid white; */
  padding: 20px;

  background: transparent;
  background-image: url(./6a.webp);
  background-color: transparent 20px;
  background-repeat: no-repeat;
  background-size:90vw 60vh;
  border-radius: 30px;
  font-weight: 900 bold;
  
  opacity: .6;

}

/* <================= container 6===============> */
.container_5{
  position: relative;
  margin-top: -15vh;
  /* border: 2px solid white; */
width: 80vw;
height: 54vh;
margin-bottom: 0;
}
.container_6{
  /* position: relative; */
  /* display: grid; */
  align-items: center;
  justify-content: center;
  margin-left: 20vw;
margin-top: -43vh;
  /* border: 2px solid white; */
  color: #fff;
margin-bottom: 0;
position: relative;

}
.container_6 h4{
  position: relative;
  color:rgb(247, 125, 2) ;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  margin-bottom: 0;
}
.work{
  position: relative;
  /* border: 2px solid white; */
width: 30vw;
display: flex;
align-items: center;
justify-content: center;
margin-left: 15vw;
margin-top: 0vh;
font-size: 3vh;
/* text-transform: uppercase; */
}
.peach{
  font-size: 10px;
  /* border: 2px solid white; */
padding: 10px;
margin-left: 8vw;
}
.lwt{
  margin-top: 12vh;
  width: 20vw;
  height: 18vw;
  /* border: 2px solid white; */
  margin-left: 2vw;
position: relative;
overflow:hidden;
background-image: url(./lwt.jpg);
background-size: 20vw 20vw;
background-repeat: no-repeat;
}
.container_6 #mail{
  /* border: solid 2px rgb(96, 0, 250); */
  background: transparent;
   color: rgb(247, 125, 2);
   font-size: 18px;
   text-transform: uppercase;
   padding:2vh;
   margin-left: 20vw;
   border:rgb(247, 125, 2);
   border: 1% solid white;
   border-bottom: 4px solid white;
   opacity: .7;

   
}
.s_logo{
  font-size: 6vh;
  width: 15vw;
  padding: 2vw;
  margin-left: 58vw;
  height: 8vh;
  /* border: 2px solid white; */

}
.s_logo a{
  padding-left: 1.2vh;
  color: rgb(247, 125, 2);
  
}
.buid h3{
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: -8vh;
  margin-left: -15vw;
  margin-bottom: 20px;
  
  opacity: .3;
  letter-spacing: .1em;

}
#mail:hover{
  color: rgb(255, 255, 255);
  transform: translateY(10px);
  white-space: nowrap;
  overflow: hidden;
  transition-duration: 1s;
border-color:rgb(247, 125, 2) ;
}
